/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, button, div, label, small {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  /*line-height: 1.5em;*/
  margin: 0;
}

h1, .h1 {
  font-size: 3.8em;
}

h2, .h2 {
  font-size: 2.6em;
}

h3, .h3 {
  font-size: 1.825em;
}

h4, .h4 {
  font-size: 1.3em;
}

h5, .h5 {
  font-size: 1.25em;
  line-height: 1.5em;
}

h6, .h6 {
  font-size: 1em;
  text-transform: uppercase;
}

p {
  margin: 0;
  color: #999;
}

a {
  color: #9c27b0;
  text-decoration: none;
}

a:hover{
  color: #89229b;
  text-decoration: none;
}

b{
  font-weight: 300;
}

.fullHeight{
  height: 100%;
}

.fullWidth{
 width: 100%;
}