<mat-card class="example-card">
    <mat-card-header>
    <mat-card-title>{{selectedTempletName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <router-outlet></router-outlet>
    </mat-card-content>
    <mat-card-actions>
            <div class="fullWidth" fxLayout="row" fxLayoutAlign="space-between center" >
                <button mat-raised-button color="primary" (click)="navigateToTempletSelection()" >Back</button>
                <button mat-raised-button color="primary" (click)="lunchPreview()" >Preview</button>
            </div>
    </mat-card-actions>
</mat-card>



