.edit_mode{
    border: dashed 1px darkgray; width: 100%;
}

.first_templet_main_question{
   height:40px; 
}
.second_templet_main_question{
   height:40px; 
}

.first_templet_question{
    height:40px; 
 }

 .first_templet_distractor{
    height:20px; 
 }

 .second_templet_main_answare{
   height:180px; 
 }