<div id="container" fxLayout="row" fxLayoutAlign="center center" >
    <mat-card class="template-card">
       
           <mat-card-title>Select a Template</mat-card-title>
         
         <mat-card-content class="fullHeight">
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            fxLayout="column" fxLayoutAlign="space-around start" 
            [(ngModel)]="selectedTemplet" class="fullHeight">
            <mat-radio-button  (change)="selecteTemplet($event)" class="example-radio-button" *ngFor="let templet of templets" [value]="templet.templetID">
                Author {{templet.name}}
            </mat-radio-button>
          </mat-radio-group>
              
        </mat-card-content>
      </mat-card>
  </div>




