<h1 mat-dialog-title>{{name}}</h1>
<div mat-dialog-content>
  <tinymce [id]="firstTemplatePreview" [hidetoolbar]='true'></tinymce>
 </div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>