<div id="apps_shell" class="mat-app-background">
    <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Renaissance – WYSIWYG Editorial System</span>
    </mat-toolbar-row>
</mat-toolbar>
<div id="content_shell">
    <router-outlet></router-outlet>
</div>

</div>

